USE [Hangouts]
GO
/****** Object:  Table [dbo].[WineSKUMap]    Script Date: 30-06-2017 07:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WineSKUMap](
	[WineSKUID] [int] IDENTITY(1,1) NOT NULL,
	[WineID] [int] NOT NULL,
	[SKU] [varchar](4) NULL,
 CONSTRAINT [PK_WineSKUMap] PRIMARY KEY CLUSTERED 
(
	[WineSKUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
