USE [Hangouts]
GO
/****** Object:  StoredProcedure [dbo].[RetrieveMyTastings]    Script Date: 30-06-2017 07:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RetrieveMyTastings] 
	@custId int
as
begin
	declare @Barcode varchar(50);
	set @Barcode = (select CardNumber from ICSCustomers  with (nolock)  where CustomerID = @custId); 
	declare @checkWall int;
	declare @checkPP int;
	set @checkWall = isnull((select top 1 wineid from [wall].[enosoft].dbo.wines with (nolock)),0);
	set @checkPP = isnull((select top 1 wineid from [PointPleasent].[enosoft].dbo.wines with (nolock)),0);
--if @checkWall <> 0 
	--begin
	--if @checkPP <> 0	
	begin try
	Select * from (
		Select w.LabelName as Name,
		convert(int,w.YearOfWine) as Vintage
		,isnull(w.Zone,0) as SKU
		,am.PlantFinal as PlantFinal
		,w.BottleSalesPrice as SalePrice 
		,w.PurchasePrice as RegPrice
		,isNull(w.TastingNotes, '') as Description
		,convert(date,am.MovementDate) as TastingDate,
		w.BarCode 
		from [Wall].[Enosoft].[dbo].[Wines] w with (nolock)  inner join [Wall].[Enosoft].[dbo].[AmountsMovements] am with (nolock)  on w.WineID = am.WineID inner join [Wall].[Enosoft].[dbo].[Cards] c with (nolock)  
		on am.CardId = c.CardId inner join [Wall].[Enosoft].[dbo].[Customers] cust with (nolock) on c.CustomerId = cust.CustomerId 
		where w.Enabled=1 and c.Enabled=1 and c.CustomerID is not null and cust.Enabled=1
		and cust.Barcode like '%'+@Barcode
		--and w.Zone is not null
		group by w.BarCode,w.LabelName,w.YearOfWine,w.Zone,am.PlantFinal,w.BottleSalesPrice,w.PurchasePrice,w.TastingNotes,convert(date,am.MovementDate)
		union all
		Select w.LabelName as Name,
		convert(int,w.YearOfWine) as Vintage
		,isnull(w.Zone,0) as SKU
		,am.PlantFinal as PlantFinal
		,w.BottleSalesPrice as SalePrice 
		,w.PurchasePrice as RegPrice
		,isNull(w.TastingNotes, '') as Description
		,convert(date,am.MovementDate) as TastingDate,
		w.BarCode 
		from [pointpleasent].[Enosoft].[dbo].[Wines] w with (nolock)  inner join [pointpleasent].[Enosoft].[dbo].[AmountsMovements] am with (nolock)  on w.WineID = am.WineID inner join [pointpleasent].[Enosoft].[dbo].[Cards] c with (nolock)  
		on am.CardId = c.CardId inner join [pointpleasent].[Enosoft].[dbo].[Customers] cust with (nolock) on c.CustomerId = cust.CustomerId 
		where w.Enabled=1 and c.Enabled=1 and c.CustomerID is not null and cust.Enabled=1
		and cust.Barcode like '%'+@Barcode 
		--and w.Zone is not null
		group by w.BarCode,w.LabelName,w.YearOfWine,w.Zone,am.PlantFinal,w.BottleSalesPrice,w.PurchasePrice,w.TastingNotes,convert(date,am.MovementDate)
		) resultset
		order by TastingDate

		end try
		begin catch
			if @checkWall > 0
			begin
				exec RetrieveMyTastingsServer @custId,1
			end
			else
			begin
				exec RetrieveMyTastingsServerPP @custId
			end

		end catch
end
GO
