USE [Hangouts]
GO
/****** Object:  Table [dbo].[UpdateWine]    Script Date: 30-06-2017 07:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdateWine](
	[MaxWineID] [int] NOT NULL,
	[storeid] [int] NOT NULL
) ON [PRIMARY]
GO
