USE [Hangouts]
GO
/****** Object:  Table [dbo].[CustomerTrack]    Script Date: 30-06-2017 07:57:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerTrack](
	[LastModifiedDate] [datetime] NULL,
	[StoreId] [int] NULL
) ON [PRIMARY]
GO
